@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 1px solid black;
}

.dark .active {
  border-bottom: 1px solid white;
}

.sidebar .active {
  background-color: rgb(226, 232, 240);
  border-radius: 0.375rem;
}

.dark .sidebar .active {
  background-color: rgb(100, 116, 139);
}

.Toastify__toast-container--top-right {
  top: 6rem;
  right: 1rem;
}

.dark .Toastify__toast-theme--light {
  background-color: black;
  color: white;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
